---

import Badge from "./Badge.astro"
import SocialColunm from "./icons/SocialColunm.astro"
import TechColunms from "./icons/TechColunms.astro"



---


<div id="sobre-mi" class="grid  grid-cols-1 gap-10 justify-items-center  w-full h-full m-auto py-10 my-10
  md:grid-cols-3  md:gap-2  md:py-20 md:my-10    sm:grid-cols-2 sm:py-28 sm:my-36 lg:px-10  
    "> 




    <!--col1 -->

    <aside class=" grid gap-2    w-[200px]    ">


         
      <aside class="   w-[200px] h-[500px] bg-[#01011bab] rounded-3xl  border-2 border-[#2a2a67a3]  hover:shadow-[0px_0px_0px_3px_#2a2a67a3]  transition duration-700 ease-in-out ">
        <h1 class="  pt-2  pr-4 text-purple-700 text-2xl font-bold  flex justify-center  items-center text-center ">Tecnolog칤as </h1>
      <TechColunms/>
        </aside>
    

        
      



        <aside  class=" w-52 row-start-5  row-end-5    h-[220px]  bg-[#01011bab] rounded-3xl  border-2 border-[#2a2a67a3]  hover:shadow-[0px_0px_0px_3px_#2a2a67a3]  transition duration-700 ease-in-out ">
          <h1 class="  pt-2  pr-4 text-purple-700 text-2xl font-bold  flex justify-center  items-center text-center  ml-5  ">Desarollador web jr </h1>
          
          <img class="rounded-2xl   mb-4 w-32  h-32  relative top-2 left-9 " 
          src="/imgs/dev.gif" 
          alt="dev-pc-gif">

          
        </aside>


  </aside>



<!--col2 -->
  
  <!--col2 -->
  
  <main class="grid   gap-6     ">

    <main  class=" ml-16  w-[500px] h-[350px] bg-[#01011bab] rounded-3xl  border-2 border-[#2a2a67a3]     hover:shadow-[0px_0px_0px_3px_#2a2a67a3]  transition duration-700 ease-in-out  ">
    <h1 class=" pt-4  pl-4 text-purple-700 text-4xl font-bold  flex justify-start items-center hover:[text-shadow:1px_0px_10px_var(--tw-shadow-color)] shadow-[#ffff]">Hola, soy C칩digoWiskas  
            <a 
            href="https://www.linkedin.com/in/omar-lara-8733a2292/"
            target="_blank" 
            rel="noopener"
            class=" flex justify-end items-center pr-6	"
            >
      <!--target="_blank"abrir치 enlaces en una nueva pesta침a cada vez. -->
                <Badge>Disponible para trabajar</Badge>
            </a>
    </h1>
    <small class="flex justify-start items-start  text-[#BC52EE]  pl-4 pt-1">Creativo | Espont치neo | Comunicaci칩n</small>
  
    <p
    class="pl-4 pt-4 text-[14px] w-60  text-pretty text-[#9D97AD] dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Recien egresado. <strong
      >Ingeniero en Tecnolog칤as de la Informaci칩n reci칠n egresado</strong
    > Persona de equipo colaborativo con proactividad y mentalidad de superaci칩n para ofrecer innovaci칩n en soluciones para resolver desaf칤os con entusiasmo e impulsar el desarrollo.
  </p>


    <img class="rounded-[150px]  mb-4 w-52 h-52  relative  left-[55%] bottom-[60%]  border-2 border-[#2a2a67a3]" 
    src="/wiskas-fotito.png" 
    alt="weskermexx-photo">
    </main>



    <main  class=" mx-10  md:mb-56   w-[550px] h-[150px] bg-[#01011bab] rounded-3xl  border-2 border-[#2a2a67a3]     hover:shadow-[0px_0px_0px_3px_#2a2a67a3]  transition duration-700 ease-in-out ">
      <h1 class="  pt-2  pr-4 text-purple-700 text-2xl font-bold  flex justify-end  items-end ">Redes Sociales </h1>
      
      <img class="rounded-2xl   mb-4 w-80 h-32  relative bottom-8  left-2 " 
      src="/imgs/pc.gif" 
      alt="redes-pc-gif">

<SocialColunm/>
    
    
  

    

    </main>

</main>


<!--col3 -->
    <aside class="grid w-[200px]  gap-8  ">
        
        <aside class="  w-[200px] h-[500px] row-span-5 bg-[#01011bab] rounded-3xl  border-2 border-[#2a2a67a3]  hover:shadow-[0px_0px_0px_3px_#2a2a67a3]  transition duration-700 ease-in-out ">
            <h1 class="  pt-4  pr-4 text-purple-700 text-2xl font-bold  flex justify-end  items-end ">Sobre m칤 
              
        </h1>
        
        <p
        class="pl-4 pt-4 text-[14px] w-48 text-pretty  text-[#9D97AD] dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
      >
      Adem치s de dedicarme al desarollo web, tengo otras pasiones, por ejemplo. <strong
          >Soy creador de contenido con una personalidad humilde  en las plataformas Tiktok, Youtube y Twitch. </strong
        > Sue침o con ser uno de los m치s grandes influyentes en esta 치rea 游눘.
      </p>

      <img class="rounded-2xl  mb-4 size-40    ml-[18px] mt-5 " 
    
      src="/imgs/sobre.gif" 
      alt="sobre-mi-gif">
        
            </aside>







            <aside  class=" w-52 row-span-5  h-[220px] bg-[#01011bab] rounded-3xl  border-2 border-[#2a2a67a3]     hover:shadow-[0px_0px_0px_3px_#2a2a67a3]  transition duration-700 ease-in-out ">
              <h1 class="  pt-2  pr-4 text-purple-700 text-2xl font-bold  flex justify-center  items-center text-center ml-4 ">M칠xico Edo.Mex </h1>
              
              <img class="rounded-2xl   mb-4 w-32  h-32  relative top-2 left-10 " 
              src="/imgs/mexico.png" 
              alt="mexico-photo">
    
              
            </aside>

</div>


