---

import Twitch from "./Twitch.astro"
import Instagram from "./Instagram.astro"
import LinkedInd from "./LinkedIn.astro"
import Github from "./Github.astro"
import Youtube from "./Youtube.astro"
import Tiktok from "./Tiktok.astro"
import Gmail from "./Gmail.astro"
import Discord from "./Discord.astro"

---
<div class="columns-4  w-44 relative  left-[65%] bottom-40 ">



<a  href="https://www.twitch.tv/weskermexx"
target="_blank" 
class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white"
          rel="noopener">
<Twitch title="Twitch"/>
</a>

<a href="https://www.instagram.com/wesker_mexx/"
  target="_blank" 
  class=" m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white"
          rel="noopener">
<Instagram title="Instagram"/>
</a>

<a href="https://www.linkedin.com/in/omar-lara-salom%C3%B3n-8733a2292/"
target="_blank" 
class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white"
          rel="noopener">
<LinkedInd title="LinkedInd"/>
</a>

<a href="https://github.com/OmarLaraSalomon/"
target="_blank" 
class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white"
          rel="noopener">
<Github title="Github"/>
</a>

<a href="https://www.youtube.com/channel/UCiIshJSQ080Pn3LGPCC4VKg"
target="_blank" 
class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white"
          rel="noopener">
<Youtube title="Youtube"/>
</a>

<a href="https://www.tiktok.com/@codigo_wiskas"
target="_blank" 
class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white"
          rel="noopener">
<Tiktok title="Tiktok"/>
</a>


<a class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white" href="mailto:codigowiskas@gmail.com">
    
<Gmail title="codigowiskas@gmail.com"/>
</a>


<a href="https://discord.com/channels/@me"
target="_blank" 
class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white"
          rel="noopener">
<Discord title="Discord"/>
</a>

</div>