---
import Html from "./Html.astro"
import Css from "./Css.astro"
import Javascript from "./Javascript.astro"
import Astrito from "./Astrito.astro"
import React from"./React.astro"
import Tailwind from "./Tailwind.astro"
import Postgresql from "./Postgresql.astro"
import Mongo from "./Mongo.astro"
import Python from "./Python.astro"
import Django from "./Django.astro"
import Anaconda from "./Anaconda.astro"
import Node from "./Node.astro"
import Express from "./Express.astro"
import Docker from "./Docker.astro"
import Vite from "./Vite.astro"
import Git from "./Git.astro"


---


<div class="columns-3   w-44 relative px-3   top-6">

    <span class=" m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
    <Html title="HTML"/>  
    </span>

    <span class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
        <Css title="Css"/>  
    </span>

    <span class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
        <Javascript title="JavaScript"/>  
    </span>

    <span class=" m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
        <Astrito title="Astro"/>  
    </span>

    <span class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
        <React title="React"/>  
    </span>

    <span class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
        <Tailwind title="Tailwind"/>  
    </span>

    <span class="m-1  hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
        <Anaconda title="Anaconda "/>  
    </span>


    <span class="m-1  hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
        <Python title="Python "/>  
    </span>

    <span class="m-1  hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
        <Django title="Django"/>  
    </span>

    <span class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
        <Postgresql title="Postgresql"/>  
    </span>
<!--

  <span class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
        <Node title="Node"/>  
    </span>

    <span class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
        <Mongo title="Mongo"/>  
    </span>

    <span class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
        <Express title="Express"/>  
    </span>



 -->
  
    <span class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
        <Docker title="Docker"/>  
    </span>

    <span class="m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
        <Git title="Git"/>  
    </span>

    <span class=" m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white">
        <Vite title="Vite"/>  
    </span>
</div>